body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #000428, #004e92);
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 20px;
}